@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Alegreya', serif;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 80px;
    background-color: #151633
} 

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 50px;
  grid-template-areas: "foto" "intro" "fotovideo" ". .";
    margin: 35 auto ;
    color: white

    
}

header{
    background-color: #151633
    grid-column: span 7;
}

header .herramientas {
      width: 7040px
        margin: 20 auto;
    margin-right: 20 auto;
    background-color: #151633;
    text-transform: uppercase;
    padding: 1ex 2ex;
    color:white;
    grid-row-gap: 50px 30pc; 
}
header .herramientas nav li{
    display: inline-block;
}




footer {
    text-align: center;
    color: white;
    background-color: #151633;
    font-size: 20px;
    padding: 2em;
margin-left: 20
}

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
    
}


