@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Alegreya', serif;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 80px;
    background-color: #151633
} 

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0r;
  gap: 50px 50px;
  grid-template-areas: "foto" "intro" "fotovideo" ". .";
    margin: 35 auto ;
    color: white;
  width: 85vw;
  margin: 1em auto 0;
    
}

.videotutorial{
    width: 400px;
    grid-row: 7/8;
    grid-column: 2/4;
    height: 50em;
    margin-top: 5%;
    
}

.eltitulo{
    width: 1000px;
    color: white;
    font-size: 5em;
    margin: 0 auto;
    padding: 0;

}


header{
    background-color: #151633;
    grid-column: span 7;
}



header .herramientas {
      width: 0 auto;
        margin: 15 auto;
    background-color: #151633;
    text-transform: uppercase;
    padding: 4ex 2ex;
    color: white;
    row-gap: 30px 30pc; 
}
header .herramientas nav li{
    display: inline-block;
    padding:  1ex 3ex; 
    font-size: 25
}

.juegahora{
    width: 30%;
}



footer {
    text-align: center;
    color: white;
    background-color: #151633;
    font-size: 20px;
    padding: 2em;
margin-left: 20
}

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
    
}


