@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Piedra', cursive;
} 

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 100px 0px;
  grid-template-areas: "foto" "intro" "fotovideo" ". .";
}

header{
    background-color: ##FBA85C
    grid-column: span 7;
}

header .herramientas {
      width: 7040px
        margin: 1 auto;
    background-color: #7B86EE;
    text-transform: uppercase;
    padding: 1   ex 2ex;
    color:gray;
    grid-row-gap: 50px 0pc; 
}
header .herramientas nav li{
    display: inline-block;
}
